/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* FIN RESET */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .imgcustom {
  float: left;
  width: 240px;
  margin: 0! important;
}
body .block_logo {
  width: 100%;
  height: 20px;
  background-color: #F4913B;
  position: fixed;
  margin-top: 24%;
}
body .block_logo #logomid {
  z-index: 1000;
  display: block;
  margin-top: -45px;
  margin-right: auto;
  margin-left: auto;
}
body #bouton {
  background-color: #F4913B;
  float: left;
  text-align: center;
  overflow: hidden;
  height: 160px;
}
body #bouton #boutnext {
  margin: 25% auto auto;
}
body #bouton:hover {
  background-color: white;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
#gallery {
  width: auto;
  height: auto;
  background: black;
  display: block;
}
#gallery a {
  float: left;
}
#gallery a img {
  float: left;
}
body .imgcustom {
  float: left;
  margin: 0 !important;
  width: 240px;
}
.vignette {
  float: left;
}
#bouton {
  width: 220px;
}
.content {
  height: 100% !important;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100% !important;
}
@media (min-width: 768px) {
  .block_logo {
    display: none;
  }
}
/***  responsive 1280px****/
@media (max-width: 1300px) {
  body .imgcustom {
    width: 160px;
  }
  #bouton {
    width: 160px;
  }
  #gallery {
    height: 100%;
    width: 100%;
  }
  .view {
    height: 160px !important;
    width: 160px !important;
  }
}
.block_logo {
  display: block;
}
@media (max-width: 600px) {
  .view {
    height: 236px !important;
    width: 200px !important;
  }
}
/***  responsive 768px****/
@media (max-width: 768px) {
  body .imgcustom {
    float: left;
    margin: 0 !important;
    width: 256px;
  }
  #gallery {
    height: 1024px;
    width: 768px;
  }
  #bouton {
    width: 192px;
  }
  .block_logo {
    display: none;
  }
  .view {
    height: 248px !important;
    width: 248px !important;
  }
}
@media (max-width: 320px) {
  body .imgcustom {
    float: left;
    height: 280px;
    margin: 0 !important;
    width: 320px;
  }
  .view {
    width: 500px !important;
    height: 280px !important;
  }
}
/* HOVER */
.view {
  width: 240;
  height: 240px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.view .mask,
.view .content {
  width: 240px;
  height: 240px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.view img {
  display: block;
  position: relative;
}
.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}
.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
}
.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  width: 100%;
  text-align: center;
}
.view a.info:hover {
  box-shadow: 0 0 5px #000000;
}
.view-first img {
  transition: all 0.2s linear;
}
.view-first .mask {
  opacity: 0;
  background-color: rgba(219, 127, 8, 0.7);
  transition: all 0.4s ease-in-out;
}
.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-first:hover img {
  transform: scale(1.1);
}
.view-first:hover .mask {
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
.view-first:hover p {
  transition-delay: 0.1s;
}
.view-first:hover a.info {
  transition-delay: 0.2s;
}
